<div class="">
    <div class="container col-4 justify-content-center reg-main ">
        <h3 class="mt-4 reg-head"> LOGIN FORM</h3>
        <form [formGroup]="loginForm" (ngSubmit)="onSubmit()" class=" mt-4 ">
          <div class="mb-3 ">
            <label for="email" class="form-label reg-label">Email</label>
            <input id="email" formControlName="email" class="form-control" placeholder="Email"/>
            <div *ngIf="loginForm.get('email')?.errors?.['required'] && loginForm.get('email')?.touched" class="text-danger">
              Email is required.
            </div>
            <div *ngIf="loginForm.get('email')?.errors?.['email'] && loginForm.get('email')?.touched" class="text-danger">
              Invalid email format.
            </div>
          </div>   
          
            <div class="mb-3 ">
              <label for="password" class="form-label reg-label">Password</label>
              <input type="password" id="password" formControlName="password" class="form-control" placeholder="Password"/>
              <div *ngIf="loginForm.get('password')?.errors?.['required'] && loginForm.get('password')?.touched" class="text-danger">
                Password is required.
              </div>
              <div *ngIf="loginForm.get('password')?.errors?.['minlength'] && loginForm.get('password')?.touched" class="text-danger">
                Minimum 6 characters required.
              </div>
              <div class="d-flex">
                <div class="p-2 flex-grow-1 reg-a"><a>Forgot Password</a></div>
                <!-- <div class="p-2">Flex item</div> -->
                <div class="p-2 reg-a" > <a class="p-2 reg-a" [routerLink]="'/signup'">Signup</a></div>
              </div>
              
            </div>
            
        
          
            <button type="submit" class="btn btn-primary reg-button" [disabled]="loginForm.invalid">Submit</button>
          </form>
    </div>
</div>