.grab-main{
    background-color: white;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    padding-bottom: 20px;
    margin-top: 35px;
    .grab-head{
        text-align: center;
        font-size: 20px;
        padding-top: 23px;
        color: #ab414bdb;
    }
    .grab-prf{
        height: 20px;
    width: 20px;
    margin-top: 10px;
}
 
 
}

.title{
    font-size: 16px !important;
    font-weight: 600 !important;
    color: #000 !important;
.span_t{
    font-size: 14px !important;
    font-weight: 400 !important;
    color: #000 !important;
}
}
.reg-button{
    text-align: center;
    background-color: #ea868fdb;
    color: #000;
    font-weight: 500;
    border: transparent;
    width: 45%; 
}
.btn-body{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 5px;
}