.reg-main{
    background-color: white;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
.reg-head{
    text-align: center;
    font-size: 20px;
    padding-top: 23px;
}
.reg-label{
    font-size: 14px;
    font-weight: 500;
}
.reg-button{
    text-align: center;
   
    margin: 20px 88px;

    background-color: #ea868fdb;
    color: #000;
    font-weight: 500;
    border: transparent;
    width: 60%;
}
.reg-a{
    color: #0e67f6;
    font-size: 12px;
    font-weight: 500;
    cursor: pointer;
}
}