<div class="">
    <div class="container col-4 justify-content-center reg-main ">
        <h3 class="mt-4 reg-head"> ForgotPassword</h3>
        <form [formGroup]="loginForm" (ngSubmit)="onSubmit()" class=" mt-4 ">  
            <div class="mb-3 ">
              <label for="password" class="form-label reg-label">Password</label>
              <input type="password" id="password" formControlName="password" class="form-control" placeholder="Password"/>
              <div *ngIf="loginForm.get('password')?.errors?.['required'] && loginForm.get('password')?.touched" class="text-danger">
                Password is required.
              </div>
              <div *ngIf="loginForm.get('password')?.errors?.['minlength'] && loginForm.get('password')?.touched" class="text-danger">
                Minimum 6 characters required.
              </div>
              
            </div>
            <div class="mb-3 ">
                <label for="confirmPassword" class="form-label reg-label">Confirm Password</label>
                <input type="password" id="confirmPassword" formControlName="confirmPassword" class="form-control" placeholder="Confirm Password"/>
                <div *ngIf="loginForm.get('confirmPassword')?.errors?.['required'] && loginForm.get('confirmPassword')?.touched" class="text-danger">
                  Confirm Password is required.
                </div>
                <div *ngIf="loginForm.hasError('mismatch') && loginForm.get('confirmPassword')?.touched" class="text-danger">
                  Passwords do not match.
                </div>
              </div>
        
          
            <button type="submit" class="btn btn-primary reg-button" [disabled]="loginForm.invalid">Submit</button>
          </form>
    </div>
</div>
