<div class="">
    <div class="container col-4 justify-content-center reg-main ">
        <h3 class="mt-4 reg-head"> CREATE ACCOUNT</h3>
        <form [formGroup]="registrationForm" (ngSubmit)="onSubmit()" class=" mt-4 ">
            <div class="mb-3 ">
              <label for="username" class="form-label reg-label">Username</label>
              <input id="username" formControlName="username" class="form-control" placeholder="Username"/>
              <div *ngIf="registrationForm.get('username')?.errors?.['required'] && registrationForm.get('username')?.touched" class="text-danger">
                Username is required.
              </div>
              <div *ngIf="registrationForm.get('username')?.errors?.['minlength'] && registrationForm.get('username')?.touched" class="text-danger">
                Minimum 3 characters required.
              </div>
            </div>
          
            <div class="mb-3 ">
              <label for="email" class="form-label reg-label">Email</label>
              <input id="email" formControlName="email" class="form-control" placeholder="Email"/>
              <div *ngIf="registrationForm.get('email')?.errors?.['required'] && registrationForm.get('email')?.touched" class="text-danger">
                Email is required.
              </div>
              <div *ngIf="registrationForm.get('email')?.errors?.['email'] && registrationForm.get('email')?.touched" class="text-danger">
                Invalid email format.
              </div>
            </div>
          
            <div class="mb-3 ">
              <label for="password" class="form-label reg-label">Password</label>
              <input type="password" id="password" formControlName="password" class="form-control" placeholder="Password"/>
              <div *ngIf="registrationForm.get('password')?.errors?.['required'] && registrationForm.get('password')?.touched" class="text-danger">
                Password is required.
              </div>
              <div *ngIf="registrationForm.get('password')?.errors?.['minlength'] && registrationForm.get('password')?.touched" class="text-danger">
                Minimum 6 characters required.
              </div>
            </div>
          
            <div class="mb-3 ">
              <label for="confirmPassword" class="form-label reg-label">Confirm Password</label>
              <input type="password" id="confirmPassword" formControlName="confirmPassword" class="form-control" placeholder="Confirm Password"/>
              <div *ngIf="registrationForm.get('confirmPassword')?.errors?.['required'] && registrationForm.get('confirmPassword')?.touched" class="text-danger">
                Confirm Password is required.
              </div>
              <div *ngIf="registrationForm.hasError('mismatch') && registrationForm.get('confirmPassword')?.touched" class="text-danger">
                Passwords do not match.
              </div>
            </div>
          
            <button type="submit" class="btn btn-primary reg-button" [disabled]="registrationForm.invalid">Submit</button>
          </form>
    </div>
</div>