<!-- <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid">
      <a class="navbar-brand" href="#">Carpool</a>
      <div class="collapse navbar-collapse">
        <ul class="navbar-nav ms-auto">
          <li *ngIf="loggedInUser" class="nav-item">
            <a class="nav-link" href="#">
              Welcome, {{ loggedInUser.name }}
            </a>
          </li>
          <li *ngIf="loggedInUser" class="nav-item">
            <span class="nav-link">{{ loggedInUser.email }}</span>
          </li>
        </ul>
      </div>
    </div>
  </nav> -->
  <nav class="navbar navbar-light" style="background-color: #f9e0fd;">
    <div class="container-fluid">
      <a class="navbar-brand logo"><img src="car.ico" />Carpool</a>
      <form class="d-flex">
        <div class="prf-name">{{ userdata }}</div>
        <!-- Profile Button -->
        <button class="btn grab-prf" type="button" (click)="toggleProfileCard()">
          <i class="fa fa-user-circle-o" aria-hidden="true"></i>
        </button>
      </form>
    </div>
  </nav>
  
  <!-- Profile Dropdown Card -->
  <div *ngIf="showProfileCard" class="profile-card-overlay">
    <div class="card" style="width: 20rem;">
      <h5 class="card-title">{{ userdata }}</h5>

      <div class="card-body">
        <!-- Circle for Profile Image Upload -->
        <div class="profile-image-circle">
          <label for="profile-image-input">
            <img *ngIf="profileImage" [src]="profileImage" alt="User Image" class="user-image" />
          <i *ngIf="!profileImage" class="fa fa-camera" aria-hidden="true"></i>
          </label>
          <input id="profile-image-input" type="file" (change)="onProfileImageUpload($event)" style="display: none;" />
        </div>
        <!-- User Details -->
        <p class="card-subtitle text-muted">{{userEmail}}</p>
        <label class="prf-logout" (click)="logout()">Logout</label>
      </div>
    </div>
  </div>
  
  
  